form.aui .error{background-color:transparent;}.confluence-form fieldset{border:0;padding:0;margin:0;}.confluence-form label{color:inherit;font-weight:inherit;}#com-atlassian-confluence form.aui .buttons-container .buttons{padding:0 0 5px 140px;}#com-atlassian-confluence form.aui.long-label .buttons-container .buttons{padding:0 0 5px 250px;}#com-atlassian-confluence form.aui.top-label .buttons-container .buttons{padding:0 0 5px 0;}#com-atlassian-confluence form.aui .buttons-container.right .buttons{padding:0 5px 5px 0;}#com-atlassian-confluence form.aui .buttons-container.left .buttons{padding:0 5px 5px 0;}#com-atlassian-confluence form.aui{font-family:inherit;}
#navigation .ajs-menu-bar .ajs-button a.add-page span {
    background: url("../../../../../../4.0/_/download/resources/com.atlassian.confluence.plugins.dashboard-actions-dashboard-actions-resources/images/page_bw_16.gif") no-repeat 0 50%;
}

#navigation .ajs-menu-bar .ajs-button a.add-blog span {
    background: url("../../../../../../4.0/_/download/resources/com.atlassian.confluence.plugins.dashboard-actions-dashboard-actions-resources/images/blogentry_bw_16.gif") no-repeat 0 50%;
}

.inline-dialog form.dashboard-actions .button-panel {
    padding: 9px 10px 5px;
    text-align: right;
    border-top: 1px solid #eee;
}
.inline-dialog form.dashboard-actions fieldset{
    padding:10px;
}

.inline-dialog form.dashboard-actions .info-panel{
    padding:10px;
    background-color: #F7F7F7;
    border: 1px solid #CCC;
    margin: 5px 5px 5px 0
}

.ajs-menu-bar li.ajs-menu-item, .ajs-menu-bar li.ajs-button {
	cursor:pointer;
}

/* Remove with 3.0 */

#navigation .ajs-menu-bar li.ajs-button a.active{
    color: white;
    background-color: #6699CC;
}

/* Confluence specific styles for aui forms needed for versions < 3.0 */

body#com-atlassian-confluence form.aui.greyboxed {
    background-color: #eee;
    margin-top: 12px;
    padding: 0px;
}

body#com-atlassian-confluence form.aui.greyboxed fieldset {
    padding-top: 4px;
    padding-bottom: 4px;
}

body#com-atlassian-confluence form.aui.greyboxed label {
    margin-left: 7px;
    font-weight: normal;
}

body#com-atlassian-confluence form.aui {
    background: none;
    border: none;
    padding: 0; /* left padding is  for lusers */
}

body#com-atlassian-confluence form.aui .error {
    background-color: transparent;
}

body#com-atlassian-confluence form.aui .viewMode {
    padding: 0 0 0 140px;
}

body#com-atlassian-confluence form.aui .confluencegroup {
    padding: 5px 0;
}

body#com-atlassian-confluence form.aui h2 {
    color: #333;
}

body#com-atlassian-confluence form.aui h3 {
    font-size: 13px;
    color: #000;
    margin: 0 0 10px 0;
}

body#com-atlassian-confluence form.aui div label {
    font-weight: normal;
    background:none;
    color: #333333;
}



